body {
  background-color: #1CBC9B;
}

* {
  font-weight: 800;
}

.box {
  width: 400px;
  height: 400px;
  top: 50%;
  left: 50%;
  position: absolute;
  border-radius: 10px;
  background-color: #EDEFF1;
  transform: translate(-50%, -50%);
}

.box2 {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

input::-webkit-input-placeholder {
  font-weight: bold;
}

input {
  width: 350px;
  height: 45px;
  margin-top: 10px;
  border-radius: 5px;
  padding-left: 10px;
  border: none;
}

button {
  width: 350px;
  height: 40px;
  margin-top: 10px;
  margin-left: 5px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1CBC9B;
  opacity: 50%;
  border: none;
  border-radius: 5px;
  color: #fff;
  transition: background-color 0.5s ease-in;
}

button:hover {
  cursor: pointer;
  background-color: #19A77C;
  opacity: 100%;
}
